<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vivid Code Test</title>
    <link rel="stylesheet" type="text/css" href="style/general.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body ng-app="">
    <main>
      <div class="notice">
        $167 still needed for this project
      </div>
      <div class="main-section">
        <div class="top-section">
          <progress value="75" max="100">75%</progress>
        </div>
        <div class="content-section">
          <div class="text">
            <div><span class="special-color">Only 3 days left</span> to fund this project.</div>
            <p>Join the <span class="special-number">42</span> other donors who have <br /> already supported this project. Every <br/>dollar helps.</p>
          </div>
          <div class="button-section clear">
            <div class="left">
              <span class="currency-container">$<input type="text" name="currency" ng-init="number= 50" ng-model="number"/></span>
            </div>
            <div class="right">
              <button>Give Now</button>
            </div>
          </div>
          <div class="clear"></div>
          <div class="below-text padding-top-12">
            Why give ${{number}}?
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="left">
          <button>Save for later</button>
        </div>
        <div class="right">
          <button>Tell your friends</button>
        </div>
      </div>
    </main>
  </body>
</html>