$width: 604px;
$font-size: 1.5em;
$small-font-size: 1em;
$display-type: inline-block;
$big-button: 285px;
$medium-button: 244px;
$border-radius: 4px;
$white-font-color: #fff;
$orange-font-color: #ef5f3c;
$blue-font-color: #36aad7;

@mixin content-width {
  width: $width;
}

@mixin font-size {
  font-size: $font-size;
}

@mixin general-button($bg-color, $color, $paddingLeftRight, $paddingTopBottom, $button-width, $display-type, $button-font-size:$font-size) {
  background-color: $bg-color;
  color: $color;
  padding: $paddingTopBottom $paddingLeftRight; 
  width: $button-width;
  display: $display-type;
  border-radius: $border-radius;
  font-size: $button-font-size;
}

@mixin general-button-hover($bg-color) {
  background-color: $bg-color;
}

@mixin display-arrow {
  top: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(66, 66, 66, 0);
  border-top-color: #424242;
  border-width: 10px;
  margin-left: -10px;
}

@mixin padding-top($padding-value) {
  padding-top: $padding-value;
}

@mixin float-content($float) {
  float: $float;
}

@mixin clear($clear) {
  clear: $clear;
}

@mixin background-color($bg-color) {
  background-color: $bg-color;
}

@mixin main-content-border($width, $border-type, $border-color) {
  border: $width $border-type $border-color;
}

$notice-bg-color: #424242;
@mixin notice {
  color: $white-font-color;
  background: $notice-bg-color;
  position: relative;
  border-radius: $border-radius;
  margin-bottom: 12px;
  padding: 24px 80px;
}

@mixin currency-container {
  border: 1px inset #ccc;
  color: #898989;
  display: $display-type;
  border-radius: $border-radius;
  padding: 12px;
  width: 218px;
  font-weight: bold;
  font-size: $font-size;
}

@mixin currency-container-input {
  display: $display-type;
  padding: 0px;
  padding-left: 12px;
  font-size: $small-font-size;
  font-weight: bold;
  width: 188px;
  border: none;
}

@mixin progress {
  width: 100%;
  height: 25px;
  apperance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
}

body {
  @include content-width;
  margin: 0px auto;
  main {
    @include content-width;
    @include font-size;
    @include padding-top(40px);
    .notice {
      @include notice;
      &:after {
        @include display-arrow
      }
    }
    .main-section {
      @include main-content-border(1px, solid, #dcdcdc);
      .top-section {
        border-bottom: 1px solid #dcdcdc;
        progress[value] {
          @include progress;
        }
        progress::-webkit-progress-value {
          @include background-color($orange-font-color);          
        }
        progress::-webkit-progress-bar {
          @include background-color(#fafafa);
        }
      }    
      .content-section {
        padding: 30px 40px;
        .text {
          .special-color {
            color: $orange-font-color;
            font-weight: bold;
          }
        }
        .button-section {
          .currency-container {
            @include currency-container;
            input {
              @include currency-container-input;
            }
          }
          button {
            @include general-button(#1cbc2c, #fff, 40px, 13px, $medium-button, $display-type);
            border: none; 
            &:hover {
              @include general-button-hover(#3e8e41);
            }                       
          }
        }
        .below-text {
          color: $blue-font-color;
          font-style: italic;
        }
      }
    }
    .bottom-section {
      @include padding-top(30px);
      button {
        @include general-button(#fafafa, #898989, 40px, 24px, $big-button, $display-type, $small-font-size);
        border: 2px solid #f0f0f0;                                 
        font-weight: bold;
        box-shadow: 2px 4px 2px #dbdbdb;
        &:hover {
          @include general-button-hover(#f0f0f0);
        }
      }
    }
    .clear {
      @include clear(both);
    }
    .left {
      @include float-content(left);
    }
    .right {
      @include float-content(right);
    }
    .padding-top-12 {
      @include padding-top(12px);
    }
  }
}