body {
  width: 604px;
  margin: 0px auto; }
  body main {
    width: 604px;
    font-size: 1.5em;
    padding-top: 40px; }
    body main .notice {
      color: #fff;
      background: #424242;
      position: relative;
      border-radius: 4px;
      margin-bottom: 12px;
      padding: 24px 80px; }
      body main .notice:after {
        top: 100%;
        left: 85%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(66, 66, 66, 0);
        border-top-color: #424242;
        border-width: 10px;
        margin-left: -10px; }
    body main .main-section {
      border: 1px solid #dcdcdc; }
      body main .main-section .top-section {
        border-bottom: 1px solid #dcdcdc; }
        body main .main-section .top-section progress[value] {
          width: 100%;
          height: 25px;
          apperance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          display: block; }
        body main .main-section .top-section progress::-webkit-progress-value {
          background-color: #ef5f3c; }
        body main .main-section .top-section progress::-webkit-progress-bar {
          background-color: #fafafa; }
      body main .main-section .content-section {
        padding: 30px 40px; }
        body main .main-section .content-section .text .special-color {
          color: #ef5f3c;
          font-weight: bold; }
        body main .main-section .content-section .button-section .currency-container {
          border: 1px inset #ccc;
          color: #898989;
          display: inline-block;
          border-radius: 4px;
          padding: 12px;
          width: 218px;
          font-weight: bold;
          font-size: 1.5em; }
          body main .main-section .content-section .button-section .currency-container input {
            display: inline-block;
            padding: 0px;
            padding-left: 12px;
            font-size: 1em;
            font-weight: bold;
            width: 188px;
            border: none; }
        body main .main-section .content-section .button-section button {
          background-color: #1cbc2c;
          color: #fff;
          padding: 13px 40px;
          width: 244px;
          display: inline-block;
          border-radius: 4px;
          font-size: 1.5em;
          border: none; }
          body main .main-section .content-section .button-section button:hover {
            background-color: #3e8e41; }
        body main .main-section .content-section .below-text {
          color: #36aad7;
          font-style: italic; }
    body main .bottom-section {
      padding-top: 30px; }
      body main .bottom-section button {
        background-color: #fafafa;
        color: #898989;
        padding: 24px 40px;
        width: 285px;
        display: inline-block;
        border-radius: 4px;
        font-size: 1em;
        border: 2px solid #f0f0f0;
        font-weight: bold;
        box-shadow: 2px 4px 2px #dbdbdb; }
        body main .bottom-section button:hover {
          background-color: #f0f0f0; }
    body main .clear {
      clear: both; }
    body main .left {
      float: left; }
    body main .right {
      float: right; }
    body main .padding-top-12 {
      padding-top: 12px; }

/*# sourceMappingURL=general.css.map */
